<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>June 2018 - August 2018</p>
            <div class="h5">ISTDI</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Student</div>
            <p>Created fully functional projects for <strong>ISTDI</strong>,
              Several mini project in study group
              <strong> Visual Basic, Static Web Site with  HTML,Css,Javascript</strong> It involves multiple modules like Analytics, Stories,
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2019 - November 2019</p>
            <div class="h5">Chick Dev</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Intern developer</div>
            <p>Intern developer an interface of a home automation system and electricity management <strong>For a Cient</strong>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2020 - September 2020</p>
            <div class="h5">free lance for clients</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Intern developer</div>
            <p>Development of a mini matrimonial site , Wordpress Site
              <strong> Learning MEAN  </strong>
               Pour un mini projet upload,Pagination, Authentication, Authorization , personnel management system <strong>Self Training</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>