<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I am Siani Audred. Web Developer and Graphic Designer, Later expert Cloud.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">February 07, 1996</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">kevinaudred@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+237 691405151</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">Ville- Douala,Quater:Nylon-Brazzaville
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">French, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>